<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>项目信息</title>

    {include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    {include file='layout/header' /}

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div id="page-title">
                <!-- <h1 class="page-header text-overflow">Collapsed Navigation</h1> -->

                <!--Searchbox-->
                <!-- <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..">
                        <span class="input-group-btn">
                            <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                        </span>
                    </div>
                </div> -->
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->
            <!--Breadcrumb-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">项目信息</a></li>
                <li class="active">基本信息</li>
            </ol>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

            <div class="row">
                <div class="col-sm-12 table-toolbar-right">
                    <div class="form-group">


                        <form id="bdcs-search-form" autocomplete="off" class="bdcs-search-form" method="get" action="">
                            <tr>
                                <input type="text" placeholder="请输入项目名" id="bdcs-search-form-input" class="search-input"
                                       name="keywords" autocomplete="off">
                                <input type="submit" value="搜索" id="bdcs-search-form-submit" class="btn btn-primary">
                            </tr>
                        </form>

                    </div>

                </div>
            </div>


            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">项目列表</h3>
                    </div>

                    <!--Data Table-->
                    <!--===================================================-->
                    <div class="panel-body">
                        <div class="pad-btm form-inline">

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>项目类型</th>
                                    <th>项目周期(单位:天)</th>
                                    <th>项目状态</th>
                                    <th>项目参与人员</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist id="vo" name="data"}
                                <tr>
                                    <td><a href="#" class="btn-link">{$vo.id} </a></td>
                                    <td>{$vo.pro}</td>
                                    <td><span class="text-muted"><i class="fa fa-clock-o"></i> {$vo.position}</span>
                                    </td>
                                    <td>{$vo.cycle}</td>
                                    <td>
                                        {if condition="$vo['status'] eq 2"}
                                        <div class="label label-table label-info">
                                            完成
                                        </div>
                                        {elseif condition="$vo['status'] eq 1" /}
                                        <div class="label label-table label-danger">未完成</div>
                                        {else /}
                                        <div class="label label-table label-warning">正在进行</div>
                                        {/if}

                                    </td>
                                    <td>
                                        <div>{$vo.username}</div>
                                    </td>
                                    <td>
                                        <a href="{:url('edit',array('id'=>$vo['id']))}" class="btn btn-primary">
                                            修改
                                        </a>
                                        <a id="{$vo.id}" class="btn btn-danger btn-sm shiny" href="javascript:" onclick="deletestaff(this);">删除</a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!--===================================================-->
                    <!--End Data Table-->

                </div>
            </div>
        </div>
        <!--===================================================-->
        {include file="layout/left" /}


    </div>


    {include file="layout/footer" /}


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<script>
    function deletestaff(o) {
        var $id = $(o).attr("id");
        $.ajax({
            url: "{:url('Project/delete')}",
            data: {'id': $id},
            type: 'post',
            dataType: 'json',
            success: function (msg) {
                if (msg.status == 1000) {
                    layer.alert('删除成功!');
                    location.href = '{:url('Admin/Project/index')}';
                } else {
                    layer.alert('删除失败!');
                }
            }
        })
    }
</script>


<!-- SETTINGS - DEMO PURPOSE ONLY -->
<!-- END SETTINGS -->


</body>
</html>
