<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码修改-智火后台管理</title>
    <script src="__STATIC__/js/jquery-2.2.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="__STATIC__/js/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/js/uploadify/uploadify.css">
    <script src="__STATIC__/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>

    {include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <!--===================================================-->
    {include file='layout/header' /}
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <!-- <hr class="new-section-sm bord-no"> -->

                <div class="panel widget">
                    <div class="widget-header bg-purple">
                        <img class="widget-bg img-responsive" src="{$Think.config.web_root}/img/thumbs/img3.jpg"
                             alt="Image">
                    </div>
                    <div class="widget-body text-center">
                        <img alt="Profile Picture" class="widget-img img-circle img-border-light"
                             src="/{$info['headpic']}">

                        <h4 class="mar-no text-main">{$info.company}</h4>
                        <p class="text-muted mar-no">{$info.name}</p>
                    </div>
                </div>

                <form class="form-horizontal" method="post" action="password_msg" enctype="multipart/form-data">

                <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">密码修改</h3>
                    </div>


                    <!--Input Size-->
                    <!--===================================================-->

                    <div class="panel-body">

                        <div class="form-group">
                            <label for="demo-is-inputnormal" class="col-sm-3 control-label">原始密码</label>
                            <div class="col-sm-6">
                                <input type="password" placeholder="默认不填则不修改密码" class="form-control" id="demo-is-inputnormal" value="{$admin_pass}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="demo-is-inputnormal" class="col-sm-3 control-label">新密码</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="默认不填则不修改密码" class="form-control"
                                       id="demo-is-inputnormal" name="password">
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-6">
                                    <button class="btn btn-warning btn-rounded submitbtn" type="submit">确认修改</button>
                                    <!-- <button class="btn btn-info btn-rounded" type="reset">重置</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>

                </form>
                <div class="col-lg-3"></div>
            </div>
        </div>


        {include file="layout/left"}

    </div>


    {include file="layout/footer"}

    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!-- SETTINGS - DEMO PURPOSE ONLY -->
<!-- END SETTINGS -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#change_msg").click(function () {
            // alert("hahah ");
            username = $("input[name='username']").val();
            password = $("input[name='password']").val();
            email = $("input[name='email']").val();
            phone = $("input[name='phone']").val();
            var data = {
                username: username,
                password: password,
                email: email,
                phone: phone,
            };
            // layer.alert('内容');
            console.log(data);

            $.ajax({
                type: "POST",
                url: "change_msg",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        layer.alert('修改成功、前往登录页面');
                        location.href = '{:url('Home/Index/index')}';
                    } else {
                        layer.alert('没有更改任何东西');
                    }
                }

            });


        });
    });
</script>

</body>
</html>
